<h1>Aprendendo Pandas parte 1.</h1>
<p></p>
Nessa primeira parte será focado na criação de data frame/series e acesso ao indices (colunas ou linha), bem como renomear eles.

Em Panda existe dois objetos Data Frame e Series, o primeiro objeto a ser estudo será o Series

<h2>Series</h2>

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']
minha_lista = [10, 20, 30]
minha_tupla = (10, 20, 30)
array = np.array([10, 20, 30])
dic = {'a': 10, 'b': 20, 'c': 30}

In [3]:
series = pd.Series(data = minha_lista, index = labels)

In [4]:
type(series)

pandas.core.series.Series

In [5]:
series

a    10
b    20
c    30
dtype: int64

Podemos acessar da mesma forma que acessamos um dicionario, ou seja, basta passar a 'chave'.

In [6]:
series['b']

20

O parametro Data pode ser um Array, List, Tuple etc...

In [7]:
pd.Series(data = minha_tupla, index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(data = array, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data = dic)

a    10
b    20
c    30
dtype: int64

<h3>Operações Com Series</h3>

In [10]:
ser1 = pd.Series([1, 2, 3, 4], index = ['EUA', 'Alemanha', 'URSS', 'Japao'])
ser2 = pd.Series([1, 2, 3, 4], index = ['Alemanha', 'EUA', 'Italia', 'Japao'])

In [11]:
print(f'Matrix:\n{np.array(ser1)}')
print(f'\ndimensao:{np.array(ser1).shape}')
print(f'\nMatrix tranposta:\n{np.array(ser1).T}')
print(f'\ndimensao:{np.array(ser1).T.shape}')

Matrix:
[1 2 3 4]

dimensao:(4,)

Matrix tranposta:
[1 2 3 4]

dimensao:(4,)

In [16]:
ser1 + ser2

Alemanha    3.0
EUA         3.0
Italia      NaN
Japao       8.0
URSS        NaN
dtype: float64

In [35]:
ser1.add(ser2, fill_value = 0)

Alemanha    3.0
EUA         3.0
Italia      3.0
Japao       8.0
URSS        3.0
dtype: float64

In [38]:
ser1.add(ser2)

Alemanha    3.0
EUA         3.0
Italia      NaN
Japao       8.0
URSS        NaN
dtype: float64

In [37]:
ser1 - ser2

Alemanha    1.0
EUA        -1.0
Italia      NaN
Japao       0.0
URSS        NaN
dtype: float64

In [36]:
ser1.sub(ser2, fill_value = 0)

Alemanha    1.0
EUA        -1.0
Italia     -3.0
Japao       0.0
URSS        3.0
dtype: float64

Acessando valores num Series

In [20]:
df = pd.read_csv("nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [34]:
serie = pd.Series(df['Name'])
serie.head(10)

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [33]:
serie.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

Os valores de Italia e URSS retornaram NaN pois somaram um int/float com um NaN, pois existem um uma tabela mas não na outra.

<h2>Data Frames</h2>

In [ ]:
np.random.seed(101)

O Método .seed cria uma semente para geração de números aleatorios.

In [ ]:
dados = np.random.randn(5, 4)
linhas = ['A', 'B', 'C', 'D', 'E']
coluna =['W', 'X', 'Y', 'Z']
df = pd.DataFrame(data = dados, index = linhas, columns = coluna)

In [ ]:
df

In [ ]:
type(df)

Acessando valores no df, usando df[COLUNA]

In [ ]:
df['W']

In [ ]:
type(df['W'])

Acessando multiplas colunas, usando df[LISTAS COM AS COLUNAS]

In [ ]:
df[['W', 'Z']]

Acessando coluna usando df.COLUNA. Esse metodo de acessa não é recomendada pois pode confundir com Metodos do Pandas.
<p></p>
Criando uma nova coluna.

In [ ]:
df['new'] = df['W'] + df['X']

In [ ]:
df

Para deletar coluna(s) basta usar .drop(COLUNAS, axis = 1). Mudar o parametro axis = 1 é necessario?
Sim pois por default axis = 0 que indica que o metodo .drop esta olhando para as linhas, ao mudar para 1 ele passa a olhar para as colunas.

In [ ]:
df.drop('new', axis = 1)

In [ ]:
df

Note que ao usar o método .drop não salvamos um 'novo' df. Para salvar esse novo df temos duas alternativas.
<p> </p>
Primeiro método

In [ ]:
df = df.drop('new', axis = 1)

In [ ]:
df

In [ ]:
df['new'] = df['W'] + df['X']

In [ ]:
df

Segundo método

In [ ]:
df.drop('new', axis = 1, inplace = True)

In [ ]:
df

Localizando elementos por indices. Para fazermos isso temos 3 formas, sendo que uma forma já foi vista anteriormente.
<p> </p>
Primeiro método, usando metodo loc.

In [ ]:
df.loc['A', 'W']

In [ ]:
type(df.loc['A', 'W'])

In [ ]:
df.loc['A']

In [ ]:
type(df.loc['A'])

In [ ]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

Segunda forma, usando método iloc.

In [ ]:
df.iloc[1:4, 2:]

A diferença entre o loc e o iloc é que um utiliza-se dos indices das linhas e colunas e o outro usa as posiçoes, sendo este ultimo muito parecido com a forma de acesso do Numpy.

<h2>Seleção Condicional</h2>
<p> </p>
Vamos utilizar o dataframe df, já salvo anteriormente

In [ ]:
df

In [ ]:
boleano = df > 0

In [ ]:
df[boleano]

Excluindo os valores que são da coluna W maiores do que 0.

In [ ]:
df[df['W'] > 0]

Pegando os valores da coluna Y do dataframe anterior. Temos duas formas!!!
<p></p>
Primeira forma.

In [ ]:
df[df['W'] > 0]['Y']

Segunda forma.

In [ ]:
bol = df['W'] > 0
df2 = df[bol]
df2['Y']

Fazendo filtros condicionais com multiplas condições.
<p></p>
Na hora de fazer as condições usar o & e não and e | no lugar de or !!!!

In [ ]:
df[(df['W'] > 0) & (df['Y'] > 1)]

In [ ]:
df[(df['W'] > 0) | (df['Y'] > 1)]

In [ ]:
data = pd.DataFrame({'key': ['K0', 'K0', 'K1', 'K2','K0', 'K0', 'K0', 'K0'],
                        'A': ['A0', 'A1', 'A2', 'A3','A0', 'A1', 'A20', 'A13'],
                        'B': ['B0', 'B1', 'B2', 'B3','D0', 'D1', 'D2', 'D3']})
data[(data['key'] == 'K0') | (data['B'] == 'D3')]

In [ ]:
data[(data['key'] == 'K0') & (data['B'] == 'D3')]

<h3>Mudando os indices</h3>

O método <b>reset_index</b> ele altera o index, das linhas, que é passado como parametro na hora de criar o dataframe, e por default o novo index sera numeros que começam no 0. Alem de mudar o index das linhas ele coloca o antigo index como uma nova coluna. Este método tbm possui o parametro inplace. Um forma de alterar o renomar o index sem ser por números é usar o método set_index.

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df

Mudando o default do reset_index.

In [ ]:
df = pd.DataFrame(data = dados, index = linhas, columns = coluna)
col_nova = ['RS', 'RJ', 'SP', 'AM', 'SC']
df['Estado'] = col_nova

In [ ]:
df

In [ ]:
df.set_index(keys = 'Estado', inplace = True)

In [ ]:
df

<h2>Indices Multiniveis</h2>

In [ ]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6, 2), index = hier_index, columns = ['A', 'B'])

In [ ]:
df

Podemos pensar que G1 e G2 são Estados os números 1, 2, 3 níveis de escolaridade e A e B são taxas de violência.

Dado nome para grupo inside e o outside.

In [ ]:
df.index.names = ['Grupo', 'Numero']

In [ ]:
df

Acessando valores desse dataframe.

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G2']

In [ ]:
df.xs('G1')

In [ ]:
df.xs(1, level = 'Numero')

A vantagem do metodo xs é ter o parametro xs que permite pular o indice outside (externo).